@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    background-color: rgb(86, 86, 163);
    color: white;
}
button {
    font-weight: 600;
}
